@charset "UTF-8";
body {
  background: linear-gradient(45deg, #15222e, #8100E0);
}

.wrapper {
  width: 40vw;
  height: 20vw;
  margin: 5vw auto;
  padding: 20px 40px;
  background: rgba(21, 34, 46, 0.25);
  border-radius: 6px;
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.32), 0 1px 9px -1px #15222e;
}

.panel {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background: #e7e7e7;
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.09), 0 0 35px 5px rgba(255, 255, 255, 0.29);
    float: left;
    border-radius: 9999px 9999px 0 0;
    position: relative;
    overflow: hidden;
    /* safari fix */
    -webkit-transform-style: flat;
    -webkit-transform: translateZ(0px);
}

.gauge-center {
  content: "";
  color: #fff;
  position: absolute;
  width: 50%;
  height: 50%;
  right: 25%;
  bottom: 0;
  background: #15222E;
  border-radius: 9999px 9999px 0 0;
  
  box-shadow: 0 -13px 15px -10px rgba(0, 0, 0, 0.28);
  color: #fff;
}
.gauge-center::before {
  content: "混雑";
  width: 100%;
  float: left;
  opacitY: 0.6;
  text-align: center;
  padding: 10px 0 0 0;
}
.gauge-center::after {
  content: attr(data-mac-count);
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  float: left;
  -webkit-font-smoothing: antialiased;
}

.needle {
  width: 45%;
  height: 10px;
  background: #15222E;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 100%;
  border-top-right-radius: 10px;
  position: absolute;
  bottom: 10px;
  right: 50%;
  transform-origin: right bottom;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.38);
}

.gauge .gauge-step {
  position: absolute;
  width: 50%;
  height: 100%;
  transform-origin: bottom right;
  background-size: 30% 30%;
  background-repeat: no-repeat;
  background-position: 25% 90%;
}
.gauge .gauge-step .icon {
    position: absolute;
    width: 30%;
    height: 30%;
    top: 60%;
    left: 15%;
    transform-origin: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.gauge .gauge-step:nth-child(1) {
    background-color: #1eaa59;
    transform: rotate(0deg);
}
.gauge .gauge-step:nth-child(1) .icon {
    background-image: url('assets/smile_1.png');
}
.gauge .gauge-step:nth-child(2) {
  background-color: #E84C3D;
  transform: rotate(36deg);
}
.gauge .gauge-step:nth-child(2) .icon {
    transform: rotate(-36deg);
    background-image: url('assets/smile_2.png');
}
.gauge .gauge-step:nth-child(3) {
  background-color: #e67e22;
  transform: rotate(72deg);
}
.gauge .gauge-step:nth-child(3) .icon {
    transform: rotate(-72deg);
    background-image: url('assets/smile_1.png');
}
.gauge .gauge-step:nth-child(4) {
  background-color: #f1c40f;
  transform: rotate(108deg);
}
.gauge .gauge-step:nth-child(4) .icon {
    transform: rotate(-108deg);
    background-image: url('assets/smile_2.png');
}
.gauge .gauge-step:nth-child(5) {
  background-color: #9baa1e;
  transform: rotate(144deg);
}
.gauge .gauge-step:nth-child(5) .icon {
    transform: rotate(-144deg);
    background-image: url('assets/smile_1.png');
}